body {
    font-family: Oswald;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  
  
    background: linear-gradient(90deg, #1CB5E0 0%, #000851 100%);
  
  }
  
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
  }
  
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
  }
  
  
  input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  
  button {
    font-size: 16px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  
  h1 {
    margin-bottom: 15px;
    color: white;
  }
  
  hr {
    margin-bottom:20PX;
    color: white;
    width: 100%;
  }