html 
    head 
    title this is home page

    style. 
        h1{
            color:green;
            background-color: aqua;
        }

        #ic1 {
                width: 100px;  /* Change the width */
                height:100px;/* Change the height */
            }

        #ic2 {
                width: 100px;/* Change the width */
                height: 100px;/*Change the height */
            }

        #ic3 {
                width:100px;  /* Change the width */
                height:100px; /* Change the height */
            }

    body 

    include header.pug 
    
    img(id="ic1" ,src="img/user.gif", alt="err......")
    img(id="ic2" ,src="img/line-chart.gif", alt="err......")
    img(id="ic3" ,src="img/settings.gif", alt="err......")
    
    h1 this is home 

    img(src="img/wallpaperflare.com_wallpaper.jpg", alt="err......")
    
    include footer.pug