<form action="">
    <h1>BMI</h1>
    <label for="">Height</label>
    <input type="text" placeholder="Enter your Hight">
    <label for="">Weight</label>
    <input type="text" placeholder="Enter your Weight">
</form>